* {
  box-sizing: border-box;
}
/* Start index.html*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.content{
  background-image: url("https://prog-8.com/images/html/advanced/top_en.png");
  background-size: cover;
  color: white;
  padding: 50px 0 100px 0;
  height: 400px;
  text-align: center;
  height: 500px;
}
.content h1 {
  opacity: 0.93;
  font-size: 45px;
  letter-spacing: 3px;
}
.content p {
  margin-top: 50px;
  opacity: 0.9;
  font-size: 17px;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(73, 89, 237, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 140px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 50px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fa {
  margin-right: 25px;
  color: white;
  font-size: 25px;
  padding: 21px 0;
}

.menu-icon {
  display: none;
  float: right;
}

.team-wrapper {
  background-color: #f2f2f2;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

.team-wrapper .container {
  width: 100%;
  margin: 0 auto;
}

.team-wrapper .heading {
  padding-top: 5px;
  padding-bottom: 15px;
  color: #5f5d60;
}

.team-wrapper .heading h1 span {
  font-weight: normal;
}

.team-list .list {
  background-color: rgba(0, 0, 0, 0.53);
  width: 230px;
  height: 280px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
  color: white;
  
}

.team-list .list img {
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.team-list .list:hover {
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.836);
}

.team-list .list:hover span {
  border-radius: 0;
  top: -200px;
}

.team-list .list:hover span p {
  color: white;
  font-size: 14px;
}

.team-list .list:hover span h3 {
  color: white;
}

.team-list .list:hover span .text-wrapper {
  bottom: 90px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 180px;
  opacity: 1;
}

.team-list .list:hover .wrapper img {
  display: none;
}

.team-list .list:hover h3 {
  color: #2F7ABE;
  margin-top: -100px;
}

.team-list .list .wrapper {
  overflow: hidden;
  position: absolute;
  width: 230px;
  height: 280px;
}

.team-list .list span {
  display: block;
  height: 500px;
  left: -135px;
  position: absolute;
  top: -490px;
  width: 500px;
  background: linear-gradient(to right, rgb(87, 97, 185) 0%, #4959edff 100%);
}

.team-list .list h3 {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  font-size: 28px;
}

.team-list .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}

.clear {
  clear: left;
}

footer img {
  width: 200px;
}

footer p {
  color: #b3aeb5;
  font-size: 14px;
  margin-bottom: 0.5px
}

footer {
  text-align:center;
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* End index.html */

/* Login.html */
.title_login{
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}
 
.login_content{
  color: black;
  width: 30%;
  background: white;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5%;
}
 
label{
  color: black;
  font-size: 11pt;
}
 
.form_login{
  display: inline-block;
  box-sizing : border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
}
 
.submit_login{
  display: inline-block;
  background: #24a0ed;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding-top: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px rgb(29, 73, 116);
}
.submit_login:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}
 
.back_login{
  display: inline-block;
  background: #f44336;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px #641913;
}
.back_login:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}

.login_content input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* End login.html */

/* contact us */
.contact input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  font-size: 14pt;
}
.contact input[type=submit]:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.contact textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin : 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

.contact input[type=submit]:hover {
  background-color: #45a049;
}

.contact {
  border-top: 1px solid gray;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1px 20px 30px 20px;
}

.contact .container{
  width: 70%;
}

.kontak h1 {
  font-weight: normal;
}
/* end contct us */

#home{
  background-color: #f2f2f2;
  height: 65px;
}
#team{
  background-color: #f2f2f2;
  height: 65px;
}
#contact{
  background-color: #f2f2f2;
  height: 65px;
}
